<main>
  <div class="cart">
    <div class="cart-container">
      <h1>Cart</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">quantity</th>
            <th scope="col">code</th>
            <th scope="col">name</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>1234532</td>
            <td>Coca Cola</td>
            <td><button class="btn-outline-error">Cancel</button></td>
          </tr>

          <tr>
            <th scope="row">1</th>
            <td>1234532</td>
            <td>Coca Cola</td>
            <td><button class="btn-outline-error">Cancel</button></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>1234532</td>
            <td>Coca Cola</td>
            <td><button class="btn-outline-error">Cancel</button></td>
          </tr>

          <tr>
            <th scope="row">1</th>
            <td>1234532</td>
            <td>Coca Cola</td>
            <td><button class="btn-outline-error">Cancel</button></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>1234532</td>
            <td>Coca Cola</td>
            <td><button class="btn-outline-error">Cancel</button></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>1234532</td>
            <td>Coca Cola</td>
            <td><button class="btn-outline-error">Cancel</button></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>1234532</td>
            <td>Coca Cola</td>
            <td><button class="btn-outline-error">Cancel</button></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>1234532</td>
            <td>Coca Cola</td>
            <td><button class="btn-outline-error">Cancel</button></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>1234532</td>
            <td>Coca Cola</td>
            <td><button class="btn-outline-error">Cancel</button></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>1234532</td>
            <td>Coca Cola</td>
            <td><button class="btn-outline-error">Cancel</button></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>1234532</td>
            <td>Coca Cola</td>
            <td><button class="btn-outline-error">Cancel</button></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>1234532</td>
            <td>Coca Cola</td>
            <td><button class="btn-outline-error">Cancel</button></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>1234532</td>
            <td>Coca Cola</td>
            <td><button class="btn-outline-error">Cancel</button></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>1234532</td>
            <td>Coca Cola</td>
            <td><button class="btn-outline-error">Cancel</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="checkout-container">
      <div style="width: 40%; padding: 1rem">
        <p>Items : 2</p>
      </div>
      <div style="width: 40%; padding: 1rem">
        <p>Total: 100</p>
      </div>
      <button class="btn btn-outline-success m-2" [routerLink]="['checkout']">
        Checkout
      </button>
    </div>
  </div>
  <div class="products">
    <div class="searchbar">
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>

    <!-- mga product sa canteen to  -->

    <ul class="list-group">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>
  </div>
</main>
